{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h3 class="mb-4">Visualizzazione dati attualmente presenti</h3>

  <div class="mb-5">
    <h5>Patient</h5>
    <table class="table table-sm table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">Risorsa</th>
          <th scope="col">ID Risorsa</th>
          <th scope="col">Identificativo Paziente</th>
          <th scope="col">Cognome</th>
          <th scope="col">Nome</th>
          <th scope="col">Data di Nascita</th>
          <th scope="col">Sesso</th>
          <th scope="col">Città</th>
          <th scope="col">Provincia</th>
          <th scope="col">CAP</th>
        </tr>
      </thead>
      <tbody id="patient-data"></tbody>
    </table>
  </div>

  <div class="mb-5">
    <h5>Encounter</h5>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>ID Risorsa</th>
          <th>Identifier</th>
          <th>Classe</th>
          <th>Patient</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody id="encounter-data"></tbody>
    </table>
  </div>

  <div class="mb-5">
    <h5>Observation</h5>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">ID Risorsa</th>
          <th scope="col">Status</th>
          <th scope="col">Data</th>
          <th scope="col">Subject</th>
          <th scope="col">Valore</th>
          <th scope="col">Unità</th>
        </tr>
      </thead>
      <tbody id="observation-data"></tbody>
    </table>
  </div>

  <button class="btn btn-primary" onclick="loadAllData()">Aggiorna dati</button>
</div>
{% endblock %}