{% extends "base.html" %}

{% block title %}Upload Dati FHIR{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="text-center mb-4">Caricamento Dati FHIR</h2>

  <div class="row justify-content-center">
    <div class="col-md-8">


      <!-- CSV Section -->
      <div class="card shadow-sm mb-5">
        <div class="card-body">
          <h5 class="card-title">Upload da CSV</h5>

          <!-- Patient CSV -->
          <form id="patientCsvForm" enctype="multipart/form-data" class="mb-3">
            <div class="input-group">
              <input type="file" name="file" accept=".csv" required class="form-control">
              <button type="submit" class="btn btn-primary upload-btn w-25">Upload Pazienti</button>
            </div>
          </form>

          <!-- Encounter CSV -->
          <form id="encounterCsvForm" enctype="multipart/form-data" class="mb-3">
            <div class="input-group">
              <input type="file" name="file" accept=".csv" required class="form-control">
              <button type="submit" class="btn btn-success upload-btn w-25">Upload Encounter</button>
            </div>
          </form>

          <!-- Observation CSV -->
          <form id="observationCsvForm" enctype="multipart/form-data">
            <div class="input-group">
              <input type="file" name="file" accept=".csv" required class="form-control">
              <button type="submit" class="btn btn-warning text-white upload-btn w-25">Upload Observation</button>
            </div>
          </form>

          <!-- Condition CSV -->
          <form id="conditionCsvForm" enctype="multipart/form-data" class="mb-3">
            <div class="input-group">
              <input type="file" name="file" accept=".csv" required class="form-control">
              <button type="submit" class="btn btn-primary upload-btn w-25">Upload Condition</button>
            </div>
          </form>

        </div>
      </div>

      <!-- JSON Section -->
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <h5 class="card-title">Upload da JSON</h5>

          <!-- Upload JSON -->
        <form id="genericJsonForm" enctype="multipart/form-data" class="mb-3">
          <div class="input-group">
            <input type="file" name="file" accept=".json" required class="form-control">
            <button type="submit" class="btn btn-primary upload-btn w-25">Upload</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Toastify -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="{{ url_for('static', path='/js/upload.js') }}"></script>
{% endblock %}
</div>